<h2>Tags</h2>
<div class="tag-cloud">
  {{ $maxCount := 1 }}
  {{ range .Site.Taxonomies.tags }}
    {{ if gt .Count $maxCount }}
      {{ $maxCount = .Count }}
    {{ end }}
  {{ end }}
  
  {{ range .Site.Taxonomies.tags.ByCount }}
    {{ if gt .Count 1 }}
      {{ $size := add 80 (mul 170 (math.Sqrt (div (float .Count) (float $maxCount)))) }}
      <a href="{{ .Page.RelPermalink }}" style="font-size: {{ $size | int }}%">
        {{ .Page.Title }} ({{ .Count }})
      </a>
    {{ end }}
  {{ end }}
</div>