<!DOCTYPE html>
<html lang="en">

<head>
  {{ partial "head.html" . }}
</head>

<body>
  {{ partial "nav.html" . }}

  <div class="container">
    {{ partial "page-title.html" . }}
    <div class="row">
      <div class="col-sm-8 blog-main">
        {{ block "main" . }}{{ end }}
      </div>

      <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <div class="sidebar-module sidebar-module-inset">
          <h4>About</h4>
          <p>Adam Gordon Bell says stuff. Software building stuff mainly.</p>
        </div>
        <div class="sidebar-module">
          <h4>Elsewhere</h4>
          <ol class="list-unstyled">
            <li>
              <a href="https://corecursive.com">Adam's Podcast</a>
            </li>
            <li>
              <a href="https://twitter.com/adamgordonbell">@adamgordonbell</a>
            </li>
            <li>
              <a href="https://github.com/adamgordonbell/">GitHub</a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/adamgordonbell">Linked In</a>
            </li>
            <li>
              <a href="/contact/">More</a>
            </li>
          </ol>
        </div>
        <div class="sidebar-module">
          <a href="/index.xml">RSS</a>
        </div>
      </div>
    </div>
  </div>

  {{ partial "footer.html" . }}
</body>

</html>