
    <div class="blog-masthead">
      <div class="container">
	       <nav class="blog-nav">
					<a class="blog-nav-item" href="/">Home</a>
					<a class="blog-nav-item" href="/pages/bio.html">Biography</a>
					<a class="blog-nav-item" href="/pages/media.html">Media</a>
					<a class="blog-nav-item" href="/pages/contact.html">Contact</a>
					<a class="blog-nav-item" href="/pages/blog.html">Blog</a>
					<a class="blog-nav-item" href="/archive.html">Blog Archive</a
	      </nav>
      </div>
    </div>

    <div class="container">
      <div class="blog-header">
	       <h1 class="blog-title">Hey, this is my blog</h1>
	         <p class="lead blog-description">It is somewhat abandoned.</p>
      </div>
				<div class="row">
					<div class="col-sm-12 blog-main"

<div class="row">
	<div class="col-sm-8 blog-main">
	  $body$
	</div>

	<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
	  <div class="sidebar-module sidebar-module-inset">
	    <h4>About</h4>
	    <p>Adam Gordon Bell says stuff. Software building stuff mainly.</p>
	  </div>
	  <div class="sidebar-module">
	    <h4>Elsewhere</h4>
	    <ol class="list-unstyled">
        <li>
          <a href="https://corecursive.com">Adam's Podcast</a>
        </li>
	      <li>
		        <a href="https://twitter.com/adamgordonbell">@adamgordonbell</a>
	      </li>
	      <li>
		        <a href="https://github.com/agbell/">GitHub</a>
	      </li>
        <li>
          <a href="https://www.linkedin.com/in/adamgordonbell">Linked In</a>
        </li>
        <li>
          <a href="/pages/contact.html">More</a>
        </li>
	    </ol>
	  </div>
	  <div class="sidebar-module">
	    <a href="/atom.xml">Atom</a> - <a href="/rss.xml">RSS</a>
	  </div>
	</div>
</div>
</div>
</div>
</div>

<footer class="blog-footer">
<p>
 Site made with
	<a href="http://jaspervdj.be/hakyll">Hakyll</a>
</p>
</footer