

<div class="row">
	<div class="col-sm-8 blog-main">
	  $body$
	</div>

	<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
	  <div class="sidebar-module sidebar-module-inset">
	    <h4>About</h4>
	    <p>Adam Bell says stuff. Software building stuff mainly.</p>
	  </div>
	  <div class="sidebar-module">
	    <h4>Elsewhere</h4>
	    <ol class="list-unstyled">
        <li>
          <a href="http://stackoverflow.com/users/135202/adam">StackOverflow</a>
        </li>
	      <li>
		        <a href="https://github.com/agbell/">GitHub</a>
	      </li>
        <li>
          <a href="https://www.linkedin.com/in/adamgbell">Linked In</a>
        </li>
        <li>
          <a href="http://cascadeofinsights.com/contact.html">More</a>
        </li>
	    </ol>
	  </div>
	  <div class="sidebar-module">
	    <a href="/atom.xml">Atom</a> - <a href="/rss.xml">RSS</a>
	  </div>
	</div>
</div>
