<div id="content">
  <ul class="posts">
  $for(posts)$
  <li>
  <article>
    <header>
      <h1 class="entry-title">
        <a href="$url$">$title$</a>
      </h1>
      <div class="meta">
        <time pubdate data-updated="true">$date$</time>
        <div class="tags">$tags$</div>
      </div>
    </header>
    $if(teaser)$
      $teaser$
    $else$
      $body$
    $endif$


    <div class="continue-link"><a href="$url$">Continue reading &raquo;</a></div>
  </article>
  <li>
  $endfor$
</ul>
</div>
<ul class="pagination">
$if(previousPageUrl)$
<li class="page-prev"><a href="$previousPageUrl$">show newer posts</a></li>
$endif$

$if(nextPageUrl)$
<li class="page-next"><a href="$nextPageUrl$">show older posts</a></li>
$endif$
</ul>
<h2>Tags</h2>
<p>$taglist$</p>
