<div class="blog-masthead">
	<div class="container">
		 <nav class="blog-nav">
			<a class="blog-nav-item" href="/">Home</a>
			<a class="blog-nav-item" href="/pages/bio.html">Biography</a>
			<a class="blog-nav-item" href="/pages/media.html">Media</a>
			<a class="blog-nav-item" href="/pages/articles.html">Articles</a>
			<a class="blog-nav-item" href="/pages/contact.html">Contact</a>
			<a class="blog-nav-item" href="/pages/blog.html">Blog</a>
		</nav>
	</div>
</div>

<div class="container">
	<div class="blog-header">
		 <h1 class="blog-title">Adam Gordong Bell</h1>
			 <p class="lead blog-description">Personal Site of Adam Gordon Bell - Software Engineer</p>
	</div>
		<div class="row">
			<div class="col-sm-12 blog-main">
				$body$
			</div>
		</div>
		$partial("templates/tag-cloud.html")$
</div>

<footer class="blog-footer">
	<p>
		 Site made with
			<a href="http://jaspervdj.be/hakyll">Hakyll</a>
	</p>
</footer

